.historial-master{
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.title-cita-historial{
  font-family: 'Poppins',sans-serif;
  color: #3EAA91;
}
.tabla-master {
  overflow-x: scroll;
}

@media (max-width : 650px) {
  .title-cita{
    font-size:35px;
    padding-top: 10px;
  }
  .title-cita-historial{
    font-size: 33px;
  }
}