.l-header {
  // background-color: green;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.logo-header{
  height: 70px;
  width: 100px;
  padding: 5px 0 0 15px;
}
.logo-user{
  height: 60px;
  width: 60px;
  padding-top: 18px;
  padding-right: 15px;
}