.btn{
  padding: 0 25px;
  height: 44px;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #FFFFFF;
  background-color: #FC5430;
  font-family: 'Roboto', sans-serif;
}