.btn{
  padding: 0 25px;
  height: 44px;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  outline: none;
  color: #FFFFFF;
  background-color: #FC5430;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}
.config{
  height: 30px;
}
.cancel{
  background-color: white;
  color: #FC5430;
  border: 2px #FC5430 solid;
}
