.master-textarea{
  margin-right: 60px;
}
.text-area-title{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #696158;
  padding-bottom: 3px;
}
.text-area{
  width: 900px;
  height: 200px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 17px;
  border-radius: 8px;
  color: #959089;
  font-family: 'Roboto', sans-serif;
  background-color: #EBEDEE;
  &:focus{
    border: 3px solid #B5B5B5;
    transition: 0.5s;
  }
}


@media (max-width : 650px) {
  .master-textarea{
    margin-top: 40px;
    margin: 0 auto;
  }
  .text-area{

    width: 420px;
  }
}