.title-estructura-cita{
  font-size: 35px;
  font-family: 'Poppins',sans-serif;
  color: #3EAA91;
  display: flex;
  justify-content: center;
}
.estructura-detalle{
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
}
.detalle{
  padding-left: 15px;
  color: #666666;
  font-size: 23px;
}