.master-estructura{
  width: 520px;
  height: 370px;
  margin-left: 50px;
  margin: auto;
}
.sub-master-estructura{
  width: 500px;
  height: 200px;
  margin-left: 50px;
  margin: auto;
}

@media (max-width : 650px) {
  .master-estructura{
    width: 370px;
    height: 320px;
  }
  .sub-master-estructura{
    width: 370px;
    height: 170px;
  }
}