.tabla{
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  border: none;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(184,204,199,0.45);
  
}
.c-item{
  padding: 5px;
  background-color: #F85533;
  color: white;
  font-weight: normal;
  font-size: 20px;
  height: 35px;
  padding: 8px 15px;
}