.master-block{
  margin: 20px;
  background-color: #F2F2F2;
  width: 360px;
  height: 450px;
  text-align: center;
  padding: 35px 20px;
  border-radius: 10px;
  
}
.image-block{
  width: 125px;
  height: 125px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.title-block{
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  color: #3EAA91;
}
.parrafo-block{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}