.items-configuracion{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.item-tabla{
  text-align: center;
  background-color: white;
  font-size: 18px;
  height: 30px;
  color: #696158;
  padding-bottom: 3px;
}

.img-borrar{
  height: 35px;
  margin: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 20px;
  padding: 0 6px;
  &:hover{
    color: white;
    background-color: red;
    transition: 0.4s;
  }
}
.img-editar{
  height: 35px;
  margin: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 20px;
  padding: 0 6px;
  &:hover{
    color: white;
    background-color: #3EAA91;
    transition: 0.4s;
  }
}

.form-title{
  color: #3EAA91;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.form-input{
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
